.git
.github
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
.env
.env.*
!.env.docker
tests
phpunit.xml
*.md
deploy/reverse-proxy
